# 1. 입출력, 기본 연산 (Input/Output, Operator)

## 1.1. 입출력 (Input/Output)

In [90]:
input_1 = input("데이터를 입력하세요\n")
print(type(input_1))
print(input_1)

데이터를 입력하세요
10
<class 'str'>
10

## 1.2. 기본 연산자 (Operator)

In [93]:
cal_1 = 5
cal_2 = 3

cal_sum = cal_1 + cal_2
print(cal_sum)
cal_sub = cal_1 - cal_2
print(cal_sub)
cal_mul = cal_1 * cal_2
print(cal_mul)
cal_div = cal_1 / cal_2
print(cal_div)
cal_quo = cal_1 // cal_2
print(cal_quo)
cal_mod = cal_1 % cal_2
print(cal_mod)

8
2
15
1.6666666666666667
1
2

## 1.3. 참/거짓 (Boolean)

In [98]:
print(cal_1 == cal_2)
print(cal_1 != cal_2)

False
True

# 2. 자료형 (Data Type)

## 2.1. 숫자형 (Numbers)

In [26]:
num_1 = 123 # 정수(Integer)
num_2 = -123.4 # 실수(Float)
num_3 = 0o34 # 8진수(OCT)
num_4 = 0x2A # 16진수(HEX)

In [27]:
print(num_1)
print(type(num_1))
print(num_2)
print(type(num_2))
print(num_3)
print(type(num_3))
print(num_4)
print(type(num_4))

123
<class 'int'>
-123.4
<class 'float'>
28
<class 'int'>
42
<class 'int'>

In [28]:
num_sum = num_1 + num_2
print(num_sum)
print(type(num_sum))

-0.4000000000000057
<class 'float'>

## 2.2. 문자형 (String)

In [29]:
str_1 = "I'm learning python."
str_2 = '나는 파이썬을 배우고 있습니다.'
str_3 = "123"

In [120]:
print(str_1)
print(type(str_1))
print(len(str_1))
print(str_2)
print(type(str_2))
print(len(str_2))
print(str_3)
print(type(str_3))
print(len(str_3))

I'm learning python.
<class 'str'>
20
나는 파이썬을 배우고 있습니다.
<class 'str'>
17
123
<class 'str'>
3

In [114]:
str_to_int = int(str_3)
print(str_to_int)
print(type(str_to_int))
print(len(str_to_int))

123
<class 'int'>

TypeError: object of type 'int' has no len()

In [37]:
str_5 = "나는 "
str_6 = "Python"
str_7 = "을 배우고 있습니다"
str_concat = str_5 + str_6 + str_7
print(str_concat)
print(str_6 * 2)

나는 Python을 배우고 있습니다
PythonPython

In [39]:
str_8 = "I love Python"
print(str_8[7:13])
print(str_8[7:])
print(str_8[-6:])

Python
Python
Python

## 2.3. 리스트 (List)

In [121]:
list_1 = [1, 2, 3, 4, 5]
print(list_1)
print(type(list_1))
print(len(list_1))

[1, 2, 3, 4, 5]
<class 'list'>
5

In [117]:
print(list_1[0])
print(list_1[-1])
print(list_1[0:3])
print(list_1[:3])
print(list_1[3:])
print(list_1[-2:])

1
5
[1, 2, 3]
[1, 2, 3]
[4, 5]
[4, 5]

In [41]:
list_1.append(6)
print(list_1)

[1, 2, 3, 4, 5, 6]

In [42]:
list_1[5] = 7
print(list_1)

[1, 2, 3, 4, 5, 7]

In [43]:
del list_1[5]
print(list_1)

[1, 2, 3, 4, 5]

In [46]:
list_2 = [1, 3]
list_3 = [5, 7, 9]
list_concat = list_2 + list_3
print(list_concat)
list_repeat = list_2 * 3
print(list_repeat)

[1, 3, 5, 7, 9]
[1, 3, 1, 3, 1, 3]

In [59]:
list_4 = [3, 1, 4, 5, 2]
print(list_4)
list_4.sort()
print(list_4)
list_4.reverse()
print(list_4)

[3, 1, 4, 5, 2]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

## 2.4. 튜플 (Tuple)

In [119]:
tuple_1 = (1, 2, 3, 4, 5)
print(tuple_1)
print(type(tuple_1))
print(len(tuple_1))

(1, 2, 3, 4, 5)
<class 'tuple'>
5

In [ ]:
print(tuple_1[0])
print(tuple_1[-1])
print(tuple_1[0:3])
print(tuple_1[:3])
print(tuple_1[3:])
print(tuple_1[-2:])

In [48]:
tuple_1.append(6)
print(tuple_1)

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
tuple_1[4] = 7

TypeError: 'tuple' object does not support item assignment

In [50]:
del tuple_1[4]

TypeError: 'tuple' object doesn't support item deletion

In [51]:
tuple_2 = (1, 3)
tuple_3 = (5, 7, 9)
tuple_concat = tuple_2 + tuple_3
print(tuple_concat)
tuple_repeat = tuple_2 * 3
print(tuple_repeat)

(1, 3, 5, 7, 9)
(1, 3, 1, 3, 1, 3)

In [61]:
tuple_4 = (3, 1, 4, 5, 2)
tuple_4.sort()

AttributeError: 'tuple' object has no attribute 'sort'

## 2.5. 집합 (Set)

In [70]:
set_1 = {1, 1, 2, 3}
set_2 = set(list_4)
print(type(set_1))
print(set_1)
print(set_2)

<class 'set'>
{1, 2, 3}
{1, 2, 3, 4, 5}

In [71]:
set_1.add(5)
print(set_1)
set_1.update({6, 7, 8})
print(set_1)

{1, 2, 3, 5}
{1, 2, 3, 5, 6, 7, 8}

In [72]:
set_1.remove(8)
print(set_1)

{1, 2, 3, 5, 6, 7}

In [73]:
set_1.clear()
print(set_1)

set()

In [79]:
set_3 = {1, 2, 3}
set_4 = {1, 3, 4}

set_intersec_1 = set_3 & set_4
print(set_intersec_1)
set_instersec_2 = set_3.intersection(set_4)
print(set_instersec_2)

set_union_1 = set_3 | set_4
print(set_union_1)
set_union_2 = set_3.union(set_4)
print(set_union_2)

set_diff_1 = set_3 - set_4
print(set_diff_1)
set_diff_2 = set_3.difference(set_4)
print(set_diff_2)

{1, 3}
{1, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{2}
{2}

## 2.6. 딕셔너리 (Dictionary)

In [122]:
dict_1 = {"Kim": 90, "Jeong": 80, "Park": 75}
print(type(dict_1))
print(len(dict_1))

<class 'dict'>
3

In [123]:
print(dict_1['Kim'])
print(dict_1['Jeong'])
print(dict_1['Park'])

90
80
75

In [81]:
dict_1["Jeong"] = 85
print(dict_1)
dict_1["Cho"] = 95
print(dict_1)
del dict_1["Park"]
print(dict_1)

{'Kim': 90, 'Jeong': 85, 'Park': 75}
{'Kim': 90, 'Jeong': 85, 'Park': 75, 'Cho': 95}
{'Kim': 90, 'Jeong': 85, 'Cho': 95}

In [85]:
print(dict_1.keys())
print(dict_1.values())

dict_keys(['Kim', 'Jeong', 'Cho'])
dict_values([90, 85, 95])

# 3. 제어문

## 3.1. if문

In [109]:
money = 30000

if money >= 40000:
    print("KTX 타고 가자")
elif money >= 20000:
    print("버스 타고 가자")
else:
    print("터벅터벅...")

버스 타고 가자

In [108]:
incorret_str = '집중이 안되 외않되'
if '안되' in incorret_str:
    print("맞춤법이 틀렸습니다: 외않되")
elif '외않되' in incorrect:
    print("맞춤법이 틀렸습니다: 안되")
else:
    print("맞춤법이 맞습니다")

맞춤법이 틀렸습니다: 외않되

## 3.2. for문

In [112]:
sum_1_to_10 = 0

for i in range(11):
    print(str(i) + '을(를) 더합니다')
    sum_1_to_10 = sum_1_to_10 + i

print(sum_1_to_10)

0을(를) 더합니다
1을(를) 더합니다
2을(를) 더합니다
3을(를) 더합니다
4을(를) 더합니다
5을(를) 더합니다
6을(를) 더합니다
7을(를) 더합니다
8을(를) 더합니다
9을(를) 더합니다
10을(를) 더합니다
55

In [124]:
for i in range(2, 10):
    for j in range(1, 10):
        print("{} * {} = {}".format(i, j, i * j))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [128]:
list_odd_num = []
for i in range(100):
    if i == 10:
        break
    elif i % 2 == 0:
        continue
    list_odd_num.append(i)

print(list_odd_num)

[1, 3, 5, 7, 9]

In [ ]:
list=[""]
for s in list:
    print(s)